:root{
  --darkteal: #093529;
  --teal: #005f52;
  --lightteal: #31dbc5;
  --white: #ffffff;
  --black: black;
  --darkpurple: #1d003d;
  --purple: #450391;
  --purplegrey: #4b375c;
  --lightpurple: #a676ff;
  --lightgrey: #cccccc !important;
  --grey: #868686;
  --darkgrey: #3d3d3d;
  --darkgold: #a17600;
  --lightgold: #fcdb80;
  --gold: #eeb005;
  --softgold: #f0e4b0;
  --softblue: #7ebfda;
  --softpink: #cf8fdb;
  --royalblue: #1027f0;
  --red: #9c1700;
  --darkred: #5c0e00;
  --lightred: #c4382e;
  --seethru: #313131;
  --greythru: #6d6d6d;
}

html{
  height: 100%;
}

body {
  height: 100%;
  z-index: -4;
}

.row-spacer{
  min-height: 3vh;
}

.row-height{
  min-height: 29vh;
}

.main-colors{
  background-color: var(--verylightgrey);
  color: var(--verydarkgrey);
}

.bg{
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-overlay{
  height:100%;
  width:100%;
  /* background:rgba(165, 165, 165, 0.377); */
  /* backdrop-filter: blur(2px); */
  /* Make possible modal pop up and make the bg blurry */
  background-size:cover;
  z-index: -3;
}

.card-effects{
  background:rgba(255, 255, 255, 0.267) !important;
  backdrop-filter: blur(4px) !important;
}
.card-effects.tada{
  max-width: 300px;
  min-width: 240px;
  min-height: 210px;
  max-height: 35vh;

}

.loading-spinner{
  position: fixed;
  bottom: 50%;
  right: 46%;
}

.delete-color{
  color: var(--darkgold);
}
.delete-color:hover{
  color: var(--gold);
  cursor: pointer;
}
.delete-color:active{
  border: 2px solid #ffffff00;
}

.todo-done{
  text-decoration: line-through;
  color: var(--purplegrey)
}

.clicker-hold{
  height: 1.5em !important;
  width: 1.5em !important;
}
.clicker{
  height: 1.5em !important;
  width: 1.5em !important;
  image-rendering: pixelated;
  display: none;
}
.clicker-hold:hover + .clicker, .clicker:hover {
  /* transition: all .2s linear !important; */
  display: inline-block;
  cursor: pointer;
}
.clicker:active{
  border: 2px solid #ffffff00;
  box-shadow: 0em 0em 4px 1px #f0b23e00;
}

.ra-sm {
  font-size: 0.6em;
}
.fa-sm {
  font-size: 0.6em;
}
.custom-font-size {
  font-size: 1.15em;
}
.custom-font-size-2 {
  font-size: 1.5em;
}
.custom-font-size-3 {
  font-size: 2em;
}
.custom-font-size-4 {
  font-size: 3em;
}

.custom-overflow {
  width: 100%;
  max-height: 20vh;
  overflow-y: auto;
  box-shadow: inset 1px 1px 7px #181818e7;
  
}



.font-purple{
color: var(--darkpurple);
}

.btn-purple{
  color: var(--darkpurple);
  border-color: var(--darkpurple);
  }
  .btn-purple:hover{
    background-color: var(--darkpurple);
  }

::placeholder{
  color: var(--lightgrey) !important;
}

.font-gold{
color: var(--gold);
}
.font-lighter{
  color: var(--lightgold);
  text-shadow: 2px 2px 4px #202020cb;
  }

.font-teal{
color: var(--darkteal);
}

.font-white{
color: var(--white);
}



/* .font-simple-serif{
font-family: 'Amiri', serif;
}
.font-fancy-serif{
font-family: 'Averia Serif Libre', cursive;
}
.font-whispy-thick{
font-family: 'Berkshire Swash', cursive;
}
.font-sharp-handwriting{
font-family: 'Bilbo', cursive;
}
.font-western-caps{
font-family: 'Girassol', cursive;
}
.font-medieval-simple{
font-family: 'Grenze Gotisch', cursive;
} */
.font-inky-typed{
font-family: 'IM Fell DW Pica', serif;
}
.font-inky-caps{
font-family: 'IM Fell DW Pica SC', serif;
}
/* 
.font-medieval-wide{
font-family: 'Metamorphous', cursive;
}
.font-round-blocky-sans{
font-family: 'Mirza', cursive;
}
.font-keycaps{
font-family: 'Monofett', cursive;
}
.font-underline-caps{
font-family: 'Montserrat Subrayada', sans-serif;
}
.font-simple-serif-2{
font-family: 'Neuton', serif;
}
.font-cut-edge{
font-family: 'Nova Cut', cursive;
}
.font-straight-thick-sans{
font-family: 'Oswald', sans-serif;
}
.font-whispy-sans{
font-family: 'Philosopher', sans-serif;
}
.font-medieval-thick{
font-family: 'Pirata One', cursive;
}
.font-easy-handwriting{
font-family: 'Reenie Beanie', cursive;
}
.font-inky-typewriter{
font-family: 'Special Elite', cursive;
}
.font-wide-rounded{
font-family: 'Sulphur Point', sans-serif;
}
.font-windy-caps{
font-family: 'Trade Winds', cursive;
}
.font-retro{
font-family: 'VT323', monospace;
}
.font-marker-edge{
font-family: 'Yatra One', cursive;
} */

.action{
  cursor: pointer;
  transition: all .2s linear !important;
  filter: brightness(.8);
}
.action:hover{
  filter: brightness(1);
}

.rm-my{
    margin-top: 0em !important;
    margin-bottom: 0em !important;
  }
  
  .rm-mx{
    margin-left: 0rem;
    margin-right: 0rem;
  }
  
  .rm-py{
    padding-top: 0em !important;
    padding-bottom: 0em !important;
  }
  .rm-pt{
    padding-top: 0em !important;
  }
  
  .rm-px{
    padding-left: 0px;
    padding-right: 0px;
  }
  .rm-pr{
    padding-right: 0em;
  }

  .hidden{
    display: none !important;
  }